{% extends 'bio/base.html' %}

{% block content %}
    <article>
        <header class="i-jumbotron-background">
            <div class="i-jumbotron">
                <div class="i-content">
                    <img src="/static/img/Ignifus-Rufous.png" alt="Ignifus">
                    <div class="i-jumbotron-text">
                        <p>Ignifus is a personal portfolio and programming blog, compromised with delivering cutting edge software.</p>
                    </div>
                </div>
            </div>
        </header>

        <div class="i-content">
            {{ search }}
        </div>

    </article>
{% endblock %}