html,body{
    font-family: Open-Sans, sans-serif;
    width:100%;
    height:100%;
    overflow-x:hidden;
}

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    cursor:pointer;
}

a:focus{
    text-decoration: none;
}

#chartdiv{
    width:100%;
    height:100%;
}