{% extends 'dashboard/base.html' %}

{% block content %}
    <article>
        <header>
            <div class="content-1200">
                <h1>Watchdog</h1>
            </div>
        </header>

        <div class="content-1200">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Packets</h3>

                    <pre id="feed"></pre>
                </div>
            </div>
        </div>

    </article>

    {% block script %}
        <script>
            var socket = new WebSocket((window.location.protocol == 'https:' ? 'wss://' : 'ws://') + window.location.host + '/watchdogws');

            socket.onopen = function open() {
                console.log('WebSockets connection created.');
            };

            socket.onmessage = function (e) {
                $("#feed").append(e.data);
            };

            if (socket.readyState === WebSocket.OPEN) {
                socket.onopen();
            }
        </script>
    {% endblock script %}
{% endblock %}
